.loginTitle{
	font-family: 'Rochester', cursive;
	font-weight:bolder;
	letter-spacing: 4.7px;
	font-size: 40px;
	height: 40px;
	margin-top: 10px;
	padding: 5px 5px 15px 5px;
	margin-bottom: 5px;
	text-align: center;
	cursor: default;
}

.backgroundImg{
	position:fixed;
	height: 100%;
	width:100%
}

.loginWrap{
	width:100%;
	margin:auto;
	max-width:525px;
	top:80px;
	min-height:600px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.loginContainer{
	width:100%;
	height:100%;
	position:absolute;
	background-color: #6a7c8b
}
.loginContainer .signInHtm,
.loginContainer .signUpHtm{
	margin-top:5px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.loginContainer .signIn,
.loginContainer .signUp,
.loginForm .group .check{
	display:none;
}
.loginContainer {
	text-transform:uppercase;
}

.tabLogin{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}



.loginContainer .tabLogin{
	font-size:22px;
	padding-bottom:5px;
	display:inline-block;
	border-bottom:2px solid transparent;
	font-weight:bold;
}
.loginContainer .signIn:checked + .tabLogin,
.loginContainer .signUp:checked + .tabLogin{
	color:#e4edea;
	background-color: rgba(43,47,59,.04);
	border-color: #244a4e;
    border-width: medium
}
.tabLogin:hover{
	cursor: pointer;
}

.loginForm{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.loginForm .group{
	margin-bottom:15px;
}
.loginForm .group .label,
.loginForm .group .input,
.loginForm .group .button{
	width:100%;
	color:#e4edea;
	display:block;
}


.loginForm .group .button{
	background:#171a26;
}
.loginForm .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.loginForm .group label .icon:before,
.loginForm .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#e4edea;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.loginForm .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.loginForm .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.loginForm .group .check:checked + label{
	color:#e4edea;
}
.loginForm .group .check:checked + label .icon{
	background:#444b66;
}
.loginForm .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.loginForm .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.loginContainer .signIn:checked + .tabLogin + .signUp + .tabLogin + .loginForm .signInHtm{
	transform:rotate(0);
}
.loginContainer .signUp:checked + .tabLogin + .loginForm .signUpHtm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

input.button.signIn-btn:hover, input.button.signUp-btn:hover {
	cursor: pointer;
}

.input,input.button{
	outline-style: none;
}