.quizPage{
    width: 100%;
    background-color:rgba(228,237,234,.5);

}

.titleContainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    position: relative;

}
.inputTitle{
    text-align: center;
    width: 100%;
    font-size: 4vh;
}

.title{
    font-size:6vh;
    padding: 10px 10px 10px 10px
}

.addBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px
}

.icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px; 
    padding: 15px;
    cursor: pointer;
}

.icon:hover{
    transform: scale(1.3);
    fill: rgba(128,0,0,1)
    
}


.inputRow{
    height: 10vh; 
    width: 100%;
    display:grid;
    grid-template-columns: 40% 60%;  
    /* background-color:#9db1c0 */
}

.cell{
    white-space: pre-wrap;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: rgba(228,237,234,.5);
    border: none;
    outline:none;

    /* overflow-y: scroll; */
    /* font-size:; */
}
.addIcon {
    height: 80px;
    width: 80px;
    cursor: pointer;
}