.inputRow{
    height: 10vh; 
    width: 100%;
    display:grid;
    grid-template-columns: 40% 60%;  

}
.form{
    margin: 0
}


.cell{
    white-space: pre-wrap;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: rgba(228,237,234,.5);
    border: none;
    outline:none;
    /* overflow-y: scroll; */
    /* font-size:; */
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBtn{
    width: 10%;
}