.inputRow{
    height: 10vh; 
    width: 100%;
    display:grid;
    grid-template-columns: 40% 50% 10%;  
}

.cell{
    white-space: pre-wrap;
    height: 100%;
    width: 100%;
    resize: none;
    overflow-y: scroll;
    /* font-size:; */
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBtn{
    width: 80%;
}