.professionalFa{
  width: 50px;
  height: 50px;
  padding: 7px 7px 7px 7px;  
;
}
.professionalRow svg{
  fill: #9db1c0
}
.professionalHeader{
   padding: 8px 4px 2px 4px;
   font-size: 23px;
   color: rgba(36,74,78,.9);
   font-weight: bold;
   text-align: center;
   cursor: default;
}
.professionalFa:hover{
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.professionalRow {
  display: flex;
  justify-content:center;
}

