.input {
    text-align: center;
}

.groupbutton,.button{
	text-transform:uppercase;
}


.errorRow {
    text-align: center;
    font-weight: bold;
    color: rgb(70, 1, 1);
    border-bottom: 1px solid black;

}

.input, .signInBtn{
    border:none;
    /* margin-left: 10%; */
	padding: 15px 0px 15px 0px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
    width: 100%;
    display: block;
    text-align: center;
    outline-style: none;
    color: #fff;

}
.signInBtn{
    cursor: pointer;
    width: 75%;
    margin-left: 12.5%;
}
.signInBtn:hover{
    /* background-color:#6a7c8b;
    outline-style: solid */
    transform: scale(1.1);
    border: 3px solid #244a4e
}
form{
    margin-left: 10%;
    margin-right: 10%;
}

.remember{
    font-weight: bold;
}

.inputWrap{
    cursor: pointer
}

.password{
    cursor: pointer;
}
.options{
    width: 100%;
    position: absolute;
    bottom:0;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 7px;
}

.bottom{
    width: 80%;
    position: absolute;
    bottom:0;
    margin-bottom: 7px;  
}

.opts{
    width: 100%;
    /* position: absolute; */
    bottom:0;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 7px;
}
.label {
    padding: 1px 0px 5px 3px;
    text-align: center;
    width: 100%;
    color: #fff;
    display: block;
}

.form{
    height: 100%;
    position: relative;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: white;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white
}

.group {
    margin-top:10px
    /* padding: 3px 3px 3px 3px */
}

.check-box:hover {
    cursor:pointer
}

.error{
    color: red;
    padding: 4px 4px 4px 4px;
}

.errorContainer{
    margin-top:8px
}

.label:focus{
    border-style:none;
}