.footer {
    
}

.linksContainer {

    bottom: 0;

    display: flex;
    justify-content: center;
    
}
.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.linksContainer svg {
    height: 30px;
    width: 30px;
}
.icon {
    margin-left: 2vw;
}