.cardBtn{
    background-color:#e4edea ;
    cursor: pointer;
}

.repoWrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(228,237,234,.5);
    
}
.repoContainer {
    width: 100%;
    height: 100%;
}

.repoTitle{
    padding: 2vw;
    
    text-align: center;
    background-color: black;
}