
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pattaya&display=swap');
.navbar {
	width: 100%;
	height: 70px;
  background-color: #171a26;
	display: grid;
	grid-template-columns: 17.5% 17.5% 30% 35%;
	box-sizing: border-box;
	box-shadow: 0 1.5em 1em -1em rgb(70, 69, 69)
}

.addBtn{
	margin-top: 5px;
	/* background-color:red; */
	height:60px;
	width: 60px
}

.addBtn svg{
	height:50px;
	width: 50px
}

.addBtn path {
	fill: rgba(228,237,234,.4);
	stroke: #9db1c0
}


.searchBarWrapper{
	margin-top: 10px;
	z-index:40;
}

.logoHolder{
	display:flex;
	justify-content:center;
	align-items:center;
}
.navLogo{
	font-family: "Pattaya";
	color: #e4edea;
	font-size: 50px;
	transition: 0.3s;
	font-weight: bold;
	cursor:pointer;
	text-align: center;
}

.navLogo:hover {
	color:#9db1c0
}


/* 
#171a26
#244a4e
#6a7c8b
#9db1c0
#e4edea

*/